@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* navbar */
.nav-vivre{
    background-color: whitesmoke;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    z-index: 10000;
}

.nav-vivre img{
    width: 100px;
}

.nav-vivre ul{
    display: flex;
    font-family: nunito;;
}

.nav-list{
    padding: 30px;
}

.nav-vivre ul li a{
    text-decoration: none;
    color: #848484 
}

.nav-vivre ul li a:hover{
    text-decoration: none;
    color: #F2978A;
}

.nav-izq{
    display: flex;
    padding: 30px;
}

.nav-izq a img{
    width: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.form-control{
    border: solid 2px #F2978A;
    border-radius: 20px;

}

/* contenido */

.carrusel{
    padding-top: 85px;
    width: 100%;
    height: auto;
}

.title-arrivals{
    font-family: nunito;
    font-weight: 600;
    font-size: 30px;
    color: #F2978A;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.container-img{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.new-arrivals-img{
    padding-left: 10%;
}

.new-arrivals-img p {
    font-family: nunito;
    font-size: 15px;
    color: #848484;
    text-align: center;
    padding: 15px 0px;
}

.new-arrivals-img p a {
    font-weight: 600;
    text-decoration: none;
    font-family: nunito;
    font-size: 15px;
    color: #848484;
    text-align: center;
}

.new-arrivals-img p a:hover {
    color: #F2978A;
}

.title-sumer-pack{
    font-family: nunito;
    font-weight: 600;
    font-size: 30px;
    color: #F2978A;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.container-summer{
    background-color: #F6F4F4;
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 70% 30%;
}

.sumer-img{
    width: 100%;
}
 
.summer-link{
    text-align: center;
    margin-top: 45%;
}

.summer-link p{
    font-family: nunito;
    font-weight: 600;
    font-size: 30px;
    color: #848484;
    text-align: center;
}

.summer-link a{
    font-weight: 600;
    text-decoration: none;
    font-family: nunito;
    font-size: 15px;
    color: #848484;
    text-align: center;
}

.summer-link a:hover{
    color: #F2978A;
 
}

.container-summer-2{
    background-color: #F6F4F4;
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 70%;
}

/* footer */

.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-footer img{
    width: 70px;
}

.envios{
    padding: 30px;
    text-align: center;
}

.titulo-footer{
    font-family: nunito;
    font-weight: 600;
    font-size: 20px;
    color: #F2978A;
    margin-top: 10px;
    margin-bottom: 5px;
}

.parrafo-footer{
    text-decoration: none;
    font-family: nunito;
    font-size: 15px;
    color: #848484;
    text-align: initial;
}

.container-footer hr{
    border: 1px solid #F2978A;
}

.container-footer-2{
    display: flex;
    background-color: #F2978A;
    width: 100%;
    justify-content: space-between;
    padding: 15px 0;
}

.container-footer-2 a img{
    width: 50px;
    padding-left: 20px;
}

.container-footer-2 p{
    font-family: nunito;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding-top: 1%;
}


.logo-footer{
    width: 70px;
    padding-right: 5%;
}

                         /*             sobre vivre                     */

/* contenido */
    .carrusel img{
        width: 100%;
    }

    .container-quienes-somos{
        display: grid;
        grid-template-columns: 40% 60%;
        background-color: #F6F4F4;
        width: 100%;
        height: 400px;
        margin-top: 60px;
        margin-bottom: 60px;
        overflow: hidden;
    }

    .quienes-somos-img{
        width: 100%;
    }

    .somos-container{
        margin-top: 25%
    }

    .somos-titulo{
        font-family: nunito;
        font-weight: 600;
        font-size: 30px;
        color: #F2978A;
        text-align: center;
    }

    .somos-parrafo{
        text-decoration: none;
        font-family: nunito;
        font-size: 15px;
        padding: 20px;
        line-height: 30px;
    }


                                 /*             coleccion                     */

    .container-coleccion{
        width: 100%;
        display: inline-block;
        position: relative;
        z-index: -1;
    }
    
    .container-coleccion img{
        margin-top: 86px;
    }

    .container-coleccion p{
        position: absolute;
        left: 60%;
        top: 45%;
        font-family: nunito;
        font-weight: 100;
        font-size: 60px;
        color: #F2978A;
    }
    .container-coleccion p span{
        font-weight: 600;
    }

    .container-coleccion button{
        background-color: #F2978A;
        border: none;
        width: 290px;
        height: 65px;
        border-radius: 15px;
        color: white;
        font-size: 20px;
        font-family: 'Nunito';
        font-weight: 600;
        position: absolute;
        top: 60%;
        left: 64%;
        cursor: pointer;
    }

    .container-2{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 40px;
}
    
    .abrigos{
        width: 570px;
        height: 560px;
        background-image: url("../img/coleccion/abrigo.png");
    }

    .camisas{
        width: 570px;
        height: 560px;
        background-image: url("../img/coleccion/camisas.png");
    }

    .container-boton{
        background-color: #F2978A;
        width: 300px;
        height: 115px;
        text-align: center;
        opacity: 0.9;
        margin: 39% 24%;
    }

    .container-boton p{
        font-family: nunito;
        font-weight: 600;
        font-size: 25px;
        color: white;
        margin-bottom: 10px;
        margin-top: 18px;
    }

    .container-boton a{
        background-color: white;
        padding: 2% 10%;
        border-radius: 10px;
        color: #F2978A;
        text-decoration: none;
        cursor: pointer;
    }

    .container-boton a:hover{
        box-shadow: 3px 3px 10px #8080806b;
    }

    .container-unico{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 40px;
    }

    .vestidos{
        margin-top: 40px;
        width: 93%;
        height: 400px;
        background-image: url(../img/coleccion/vestidos.png);
    }

    .margin-unico{
        margin: 11% 38%; 
    }

    .remeras{
        width: 375px;
        height: 458px;
        background-image: url("../img/coleccion/remeras.png");
    }

    .shorts{
        width: 375px;
        height: 458px;
        background-image: url("../img/coleccion/shorts.png");
    }

    .pantalones{
        width: 375px;
        height: 458px;
        background-image: url("../img/coleccion/pantalones.png");
    }

    .container-3{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 40px;
    }

    .columna-3{
        margin: 45% 7%;
    }

    .accesorios{
        margin-top: 40px;
        width: 93%;
        height: 400px;
        background-image: url(../img/coleccion/accesorios.png);
        margin-bottom: 40px;
    }

    /* contacto */

    .title-contacto{
        font-family: nunito;
        font-weight: 600;
        font-size: 30px;
        color: #F2978A;
        margin-top: 110px;
        margin-bottom: 30px;
        text-align: center;
    }

    .container-contacto{
        display:flex;
        background-color: #F6F4F4;
        justify-content: center;
        height: 690px;
    }

    .container-form{
        padding: 40px 0;
    }

    .container-contacto img{
        height: auto;
        padding: 40px 0px 40px 170px;
    }

    .container-form p{
        font-family: nunito;
        font-weight: 600;
        font-size: 20px;
        color: #848484;
    }

    .container-form input{
        font-family: 'Nunito';
        border: 1px solid #F2978A;
        padding: 5px;
        width: 250px;
        margin-bottom: 30px;
    }

    .container-form select{
        font-family: 'Nunito';
        border: 1px solid #F2978A;
        padding: 5px;
        width: 250px;
        margin-bottom: 30px;
    }

    .mensaje-input{
        height: 120px;
    }

    .boton-enviar{
        background-color: #F2978A;
        border-radius: 6px;
        color: white;
        font-weight: 800;
        font-size: 15px;
    }

    .boton-enviar:hover{
        box-shadow: 3px 3px 10px #8080806b;
    }

    /* coleccion abrigos */

    .container-img-coleccion{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin-top: 125px;
    }



/* mobile */

@media only screen and (max-width: 1024px) {

    /* contenido index */
    .carrusel img{
        width: 100%;
    }

    .container-img{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .new-arrivals-img{
        padding-left: 25%;
    }

    .summer-link{
        margin-top: 60%;
    }
}



@media only screen and (max-width: 768px) {

    /* contenido index */
    .new-arrivals-img{
        padding-left: 10%;
    }

    .container-summer{
        height: 360px;
    }

    .summer-link{
        margin-top: 70%;
    }

                                 /*             sobre vivre                     */
    .container-quienes-somos{
        height: 334px;
    }

    .somos-container {
        margin-top: 12%;
    }

                               /*            coleccion                     */
    .container-coleccion img{
        width: 100%;
    }

    .container-coleccion p{
        left: 52%;
        font-size: 45px;
    }

    .container-coleccion button{
        left: 53%;
    }

                                 /*            contacto                     */

    .container-contacto img {
        padding: 40px 0px 40px 15px;
    }
}

@media only screen and (max-width: 500px) {

    /* contenido index */
    .title-arrivals{
        font-size: 20px;
    }

    .title-sumer-pack{
        font-size: 20px;
    }

    .new-arrivals-img img{
        width: 140px;
    }

    .new-arrivals-img p{
        font-size: 10px;
    }

    .new-arrivals-img p a{
        font-size: 8px;
    }

    .new-arrivals-img{
        padding-left: 10%;
    }

    .container-summer{
        height: 170px;
    }

    .container-summer-2{
        height: 170px;
    }

    .summer-link p{
        font-size: 20px;
    }

    .summer-link a{
        font-size: 10px;
    }

    .container-footer{
        display: block;
        flex-direction: column;
    }



   .container-quienes-somos {
    display: block;
    height: 464px;
   }

   .somos-container {
    margin-top: 10%;
}

   .somos-titulo{
       font-size: 20px;
   }

   .somos-parrafo{
        font-size: 12px;
        line-height: 20px;
   }

                                /*            coleccion                     */
   .container-2 {
    display: block;
    flex-direction: column;
    padding-left: 2.5%;
}      

.container-2mobile {
    width: 340px;
    height: 500px;
    margin-bottom: 30px;
}

.container-boton{
    margin: 53% 6%;
}

.container-boton {
    margin: 41% 6%;
}

.vestidos {
    margin-top: 30px;
}

.container-3{
    display: block;
    flex-direction: column;
    padding-left: 2.5%;
}

.remeras{
    margin-bottom: 30px;
}


.container-coleccion p{
    font-size: 18px;
}

.container-coleccion button{
    left: 56%;
    font-size: 10px;
    width: 143px;
    height: 36px;
    border-radius: 9px;
}

                             /*            contacto                    */
.title-contacto {
    font-size: 20px;
}

.container-contacto img{
   display: none;
}

.container-img-coleccion{
    display: grid;
    grid-template-columns: 50% 50%;
}
}